#include <winresrc.h>

#define COMPANY "Microsaft"
#define PRODUCT "Rubber Duck"
#define VERSION_NUMBER 0,0,0,1
#define VERSION_STRING "0.0.0.1"

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_NUMBER
PRODUCTVERSION VERSION_NUMBER
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	VS_FF_PRERELEASE
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_APP
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" /* 0x0409 1252 = en_US */
        BEGIN
            VALUE "FileDescription", COMPANY " " PRODUCT " service"
            VALUE "CompanyName", COMPANY
            VALUE "FileVersion", VERSION_STRING
            VALUE "InternalName", COMPANY " " PRODUCT
            VALUE "LegalCopyright", COMPANY
            VALUE "OriginalFilename", COMPANY " " PRODUCT ".exe"
            VALUE "ProductName", COMPANY " " PRODUCT
            VALUE "ProductVersion", VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
		VALUE "Translation", 0x409,1252
    END
END

icon ICON "icon.ico"
sound WAVE "sound.wav"
